{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<!-- Display a success page -->
    <div class="overlay"></div>
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <hr>
                    <h1 class="logo-font mb-4">Thank You {{ user.username }} for your {{ product.name }}</h1>
                    <hr>
                    <img id="chess-success" src="{{ MEDIA_URL }}uploads/post_photos/chess.jpg" height="500px" width="800px" alt="">
                </div>
            </div>
            <!-- Buttons for navigation back to products and posts -->
            <div class="container">
                <div class="row text-center m-5">
                    <div class="col">
                        <a class="btn btn-primary m-3" href="{% url 'post-list' %}">Back to posts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}