{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
     <!-- landing page, background image -->
    <div class="index-container">
        <img class="landing-img" src="{{ MEDIA_URL }}uploads/post_photos/alien.jpg" alt="">
        <div class="row justify-content-center mt-5 index-text">
            <div class="col-md-10 col-sm-8 text-center">
                <h1 class="display-2">Connect With Other Gamers!</h1>
                <p class="mt-3 lead">Create your own personalized profile to consolidate your online gaming identity.</p>
                <p class="mt-3 lead">Create post for your friends and followers!</p>
                 <!-- Log in and Register buttons -->
                <div class="d-flex justify-content-center mt-5">
                    <a href="{% url 'account_login' %}" class="btn btn-dark btn-lg m-3">Log in</a>
                    <a href="{% url 'account_signup' %}" class="btn btn-dark btn-lg m-3">Register</a>
                </div>
            </div>
        </div>
    </div>
    

{% endblock content %}