@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

/* index.html */
body {
    font-family: 'Orbitron';
    background: rgb(100,65,165);
    background: linear-gradient(90deg, rgba(100,65,165,1) 0%, rgba(42,8,69,1) 100%);
    color: white;
}

.btn-cancel {
    background-color: rgba(220, 17, 1, 0.16);
    box-shadow: 0px 0px 2px #ff0303;
    color: #ff0303;
    text-shadow: 2px 1px #00040a;
}

.btn-cancel:hover {
    background-color: rgba(220, 17, 1, 0.33);
    transition: 0.5s;
    color: white;
}

.btn-dark, .btn-light, .btn-success, .btn-primary {
    background-color: rgba(7, 149, 66, 0.3);
    box-shadow: 0px 0px 2px #259c08;
    color: #0ad406;
    text-shadow: 2px 1px #00040a;
    border-color: transparent;
    text-decoration: none;
}

.btn-dark:hover, .btn-light:hover, .btn-success:hover, .btn-primary:hover {
    background-color: rgba(7, 149, 66, 0.35);
    transition: 0.5s;
    border-color: transparent;
    color: white;
}


.msg-container {
    font-size: 2em;
    font-weight: bold;
    background-color: rgba(220, 128, 1, 0.16);
    box-shadow: 0px 0px 2px #ffb103;
    color: #ffb103;
    text-shadow: 2px 1px #00040a;
}

.navbar-brand span {
    font-size: 1.3em;
    color: white;
}
#profile-card {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.card {
    color: black;
    padding: 0 1em 1em 1em;
}

.card-body {
    color: black;
}

.card-footer {
    color: black;
}

.post-card {
    display: flex;
    flex-direction: column;
}

#div_id_image label {
    margin: 0.5em 0;
}

.edit_delete_btn {
    position: absolute;
    align-self: flex-end;
}

.edit_delete_btn i {
    padding: 0.3em;
}

.landing-img {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    top: 0;
    position: absolute;
    z-index: -1;
    filter: blur(2px);
}

.index-text {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.65);
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
.index-text {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.65);
  }
}


@media screen and (max-width: 1439px) {
    #chess-success {
        width: 300px;
        height: 200px;
    }
}

/* post_list.hmtl */

.post-body-text {
    font-size: 26px;
}

.remove-default-btn i {
    font-size: 20px;
}
.remove-default-btn i p {
    font-family: 'Courier New', Courier, monospace;
}

.remove-default-btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
    display:inline-block;
}

.edit-color {
    color: #333;
}

.post-link {
    text-decoration: none;
}

.post-text {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.post-body-text p {
    padding-bottom: 1em;
}

.post-created {
    font-size: 0.8em;
}

.post-img {
    float: left;
    margin-right: 1rem;
}


/* profile.hmtl */



/* comment on comment */

.child-comment {
    margin-left: 2rem;
}

.post-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Post Image */

.nav-tabs a {
    font-size: 25px;
}



