/* index.html */

.landing-img {
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter: blur(2px);
}

.index-text {
    position: absolute;
    left: 25%;
    top: 20%;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.65);
}

.navbar {
    position: relative;
    left: 0;
}

.group {
    font-size: 60px;
}

body {
    background-color: rgba(168, 248, 228, 0.1);
}

.card {
    
    border: 1px solid grey;
}

/* post_list.hmtl */

.post-body-text {
    font-size: 26px;
}

.remove-default-btn i {
    font-size: 20px;
}




.remove-default-btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.edit-color {
    color: #333;
}

.post-link {
    text-decoration: none;
}

.post-text {
    padding-top: 0.5rem;
}

.post-img {
    float: left;
    margin-right: 1rem;
}


/* profile.hmtl */

#profile-img {
    border: 3px solid black;
    margin-left: 14vw;
    margin-bottom: 40px;
}

/* comment on comment */

.child-comment {
    margin-left: 2rem;
}