@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

/* index.html */
body {
    font-family: 'Orbitron', sans-serif;
    background: rgb(100,65,165);
    background: linear-gradient(90deg, rgb(116, 26, 26) 0%, rgba(42,8,69,1) 100%);
    color: white;
}

input {
    font-size: 10px;
}

.btn-cancel, .btn-delete {
    background-color: rgba(220, 17, 1, 0.16);
    box-shadow: 0px 0px 2px #ff0303;
    color: #ff0303;
    text-shadow: 2px 1px #00040a;
    border: 0;
}

.active {
    color: #2EBDD1;
  }

.btn-cancel:hover, .btn-delete:hover {
    background-color: rgba(220, 17, 1, 0.33);
    transition: 0.5s;
    color: white;
}

.btn-success, .btn-primary, .btn-back  {
    background-color: rgba(7, 149, 66, 0.3);
    box-shadow: 0px 0px 2px #259c08;
    color: #0ad406;
    border-color: transparent;
    text-decoration: none;
}

.btn-success:hover, .btn-primary:hover, .btn-back:hover {
    background-color: rgba(7, 149, 66, 0.35);
    transition: 0.5s;
    border-color: transparent;
    color: white;
}

.msg-container {
    font-size: 2em;
    font-weight: bold;
    background-color: rgba(220, 128, 1, 0.16);
    box-shadow: 0px 0px 2px #ffb103;
    color: #ffb103;
    text-shadow: 2px 1px #00040a;
}

.navbar-brand span {
    font-size: 1.3em;
    color: white;
}
#profile-card {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.card {
    padding-bottom: 0.5em;
}

.card, .card-body, .card-footer {
    color: black;
}

.post-card {
    display: flex;
    flex-direction: column;
}

#div_id_image label {
    margin: 0.5em 0;
}

.edit_delete_btn, .comment_delete_btn {
    position: absolute;
    align-self: flex-end;
}

.edit_delete_btn i, .comment_delete_btn i {
    padding: 0.3em;
}

.comment_delete_btn i {
    padding: 0.8em;
}

.landing-img {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    top: 0;
    position: absolute;
    z-index: -1;
    filter: blur(2px);
}

.index-text {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.65);
}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {

body {
    padding: em 0;
}

.container-fluid {
    display: flex;
    flex-direction: column;
}

.nav {
    margin-bottom: 1em;
}

.index-text {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 1024px) {
    .container-fluid {
        display: flex;
        flex-direction: column;
    }
    
    .nav {
        margin-bottom: 1em;
    }
}


@media screen and (max-width: 1439px) {
    #chess-success {
        width: 300px;
        height: 200px;
    }
}

/* post_list.hmtl */

.post-body-text {
    font-size: 26px;
}

.remove-default-btn i {
    font-size: 20px;
}
.remove-default-btn i p {
    font-family: 'Courier New', Courier, monospace;
}

.remove-default-btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
    display: inline-block;
}

.rating-area .count {
    margin: 0 1em 0 0.6em;
    font-size: 0.8em;
    font-family: 'Orbitron';
}

.rating-area {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 0.9em;
}

.transition-fast{
    transition:0.2s ease-out;
}

.thumbs-up-circle, .thumbs-down-circle {
    width:40px;
    height:40px;
    border-radius:50%;
    box-shadow:1px 1px 0px rgba(0,0,0,0.2);
    cursor:pointer;
    margin-bottom:5px;
    margin-top:5px;
    background-color: transparent;
    border: 1px solid grey;
}

.thumbs-up-circle:hover, .thumbs-down-circle:hover{
     box-shadow:1px 1px 4px rgba(0,0,0,0.5);
}

.thumbs-up-circle:hover .thumbs-up{
    transform:rotate(-5deg) translate(0px, -1px);
}
 
.thumbs-up-circle:hover .thumbs-down{
    color:#565656;
    transform:rotate(5deg) translate(0px, 1px);
}

.comment-icon-area {
    margin-left: 1em;
}

.edit-color {
    color: #333;
}

.post-link {
    text-decoration: none;
}

.post-text {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.post-body-text p {
    padding-bottom: 1em;
}

.post-created {
    font-size: 0.8em;
}

.post-img {
    float: left;
    margin-right: 1rem;
}


/* profile.hmtl */



/* comment on comment */

.child-comment {
    margin-left: 2rem;
}

.post-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Post Image */

.nav-tabs a {
    font-size: 25px;
}



