{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
        <!-- Add post header -->
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom text-center">
                <h5>Add a Post!</h5>
            </div>
        </div>
        <!-- adds the post -->
        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-md-5 col-sm-12 border-bottom">
                <form method="Post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="d-grid gap-2">
                        <button class="btn btn-success mt-3">
                            Post
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- shows the post -->
        {% for post in post_list %}
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom position-relative">
                <div class="py-3">
                    <a href="{% url 'profile' post.author.profile.pk %}">
                        <img class="rounded-circle post-img" height="45" width="45" src="{{ post.author.profile.picture.url }}">
                    </a>
                    <p class="post-text">
                        <a href="{% url 'profile' post.author.profile.pk %}" class="text-primary post-link">
                        <span> {{ post.author }}</span></a> {{ post.created_on }}
                        </a>
                    </p>
                </div>
                    
                <div class="position-relative">
                    <p>{{ post.body }}</p>
                    <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                </div>
                <div class="d-flex flex-row">
                    <form method="POST" action="{% url 'like' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="remove-default-btn" type="submit">
                            <i class="far fa-grin-beam"> <span>{{ post.likes.all.count }}</span></i>
                        </button>
                    </form>

                    <form method="POST" action="{% url 'dislike' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="remove-default-btn" type="submit">
                            <i class="far fa-meh"> <span>{{ post.dislikes.all.count }}</span></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}