{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <!-- Shows the post -->
    <div class="row justify-content-center mt-3">
        <div class="col-md-8 col-sm-8 position-relative card shadow rounded">
                <div class="py-3 card-body">
                    <a href="{% url 'profile' post.author.profile.pk %}">
                        <img class="rounded-circle post-img" height="60" width="60" src="{{ post.author.profile.picture.url }}">
                    </a>
                    <p class="post-text">
                        <a href="{% url 'profile' post.author.profile.pk %}" class="text-primary post-link">
                        <h5> {{ post.author }}</h5></a>
                        <p class="border-bottom">{{ post.created_on }}</p>
                        </a>
                    </p>
                    <!-- If the user that created post give them oppertunity to delete and edit post -->
                    {% if request.user == post.author %}
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                            <li><a href="{% url 'post-edit' post.pk %}" class="edit-color"><i class="far fa-edit m-2">Edit</i></a></li>
                            <li><a href="{% url 'post-delete' post.pk %}" class="edit-color"><i class="fas fa-trash m-2">Delete</i></a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
                <!-- if theres a img show otherwise only show post -->
                <div class="position-relative ms-3 post-body-text">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" class="post-image border-bottom">
                    {% endif %}
                    <p class="border-bottom">{{ post.body }}</p>
                    <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                </div>
                <!-- Show post likes and dislikes -->
            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-up"><span>{{ post.likes.all.count }}</span></i>
                    </button>
                </form>

                <form method="POST" action="{% url 'dislike' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- Add comment -->
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
            <h5>Add a Comment!</h5>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Submit!</button>
                </div>
            </form>
        </div>
    </div>
    <!-- List comments -->
    {% for comment in comments %}
    {% if comment.is_parent %}
    <div class="row justify-content-center mt-3 mb-5 border-bottom">
        <div class="col-md-5 col-sm-12">
            <p>
                <div class="py-3">
                    <a href="{% url 'profile' comment.author.profile.pk %}">
                        <img class="rounded-circle post-img" height="45" width="45" src="{{ comment.author.profile.picture.url }}">
                    </a>
                    <p class="post-text">
                        <a href="{% url 'profile' comment.author.profile.pk %}" class="text-primary post-link">
                        <span> {{ comment.author }}</span></a> {{ comment.created_on }}
                        </a>
                    </p>
                </div>
                <!-- if user is author of comment give them ability to edit and delete the comment -->
                {% if request.user == comment.author %}
                <a href="{% url 'comment-edit' post.pk comment.pk %}" class="edit-color"><i class="fas fa-edit"></i></a>
                <a href="{% url 'comment-delete' post.pk comment.pk %}" class="edit-color"><i class="fas fa-trash"></i></a>
                {% endif %}
            </p>
            <p>{{ comment.comment }}</p>
            <!-- Show comments likes and dislikes -->
            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'comment-like' post.pk comment.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-up"> <span>{{ comment.likes.all.count }}</span></i>
                    </button>
                </form>

                <form method="POST" action="{% url 'comment-dislike' post.pk comment.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-down"> <span>{{ comment.dislikes.all.count }}</span></i>
                    </button>
                </form>
                <div>
                    <button class="remove-default-btn">
                        <i class="far fa-comment-dots" onclick="commentReplyToggle('{{ comment.pk }}')"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- comment on comments -->
    <div class="row justify-content-center mt-3 mb-5 d-none" id="{{ comment.pk }}">
        <div class="col-md-5 col-sm-12">
            <form method="POST" action="{% url 'comment-reply' post.pk comment.pk %}">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Submit!</button>
                </div>
            </form>
        </div>
    </div>
    <!-- List comments on comments -->
    {% for child_comment in comment.children %}
        <div class="row justify-content-center mt-3 mb-5 child-comment">
            <div class="col-md-5 col-sm-12 border-bottom">
                <p>
                    <div>
                        <a href="{% url 'profile' child_comment.author.profile.pk %}">
                            <img class="round-circle post-img" height="30" width="30" src="{{ child_comment.author.profile.picture.url }}" />
                        </a>
                        <p class="post-text">
                            <a class="text-primary post-link" href="{% url 'profile' child_comment.author.profile.pk %}">@{{ child_comment.author }}</a> {{ child_comment.created_on }}
                        </p>
                    </div>
                    <!-- if user is author of comment give them ability to delete the comment -->
                    {% if request.user == child_comment.author %}
                        <a href="{% url 'comment-delete' post.pk child_comment.pk %}" class="edit-color"><i class="fas fa-trash"></i></a>
                    {% endif %}
                </p>
                <p>{{ child_comment.comment }}</p>
            </div>
        </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}